
/*.input-form{
	background: blue;
	height: 100px;
}*/

body {
	background:url("../UCLA pic.jpg") no-repeat center fixed;
  	background-size: cover;
}


.form-row {
	background:#333333;
	color: #dddddd;
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 30px;
	padding: 10px 0;
	display: flex;
	/*flex-wrap: wrap;*/
}

.form-row input {
	padding-right: 10px;
	padding-left: 5px;
	flex: 1;
	font-size: 20px;
	text-overflow: ellipsis;
	/*does anybody know how to make an input box wrap text?*/
	
}

::placeholder {
	color: red;
	opacity: 1;
}

.form-row label {
	/*flex: 1;*/
	display: flex;
	align-items: center;
	color: white;
}

#input-box {
	/*background: #D3D3D3;*/
	font-size: 20px;
	/*border: 5px solid grey;*/
}

.pet-name {
	background: #FFB300;
	color: #3571D0;
	width: 100%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px; /* The same as your div height */
	padding: 10px 0;

	font-size: 40px;
}

.column-layout {
	/*background-color: #3571D0;*/
	height: 500px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.images {
	flex: 2;
	order: 2;
	/*border: 5px solid silver;*/
	height: 400px;
	display: flex;
	flex-flow: row wrap;
	
}

#tampic {
	/*transform: rotateZ(-90deg);*/
	margin: auto;
	position: relative;
	animation-name: moveTamPic;
	animation-duration: 4s;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

/*gotta figure out how to get this to start
on game start and end on game end*/
@keyframes moveTamPic {
	from {left: -200px;}
	to {left: 200px;}
}

.metrics {
	flex: 1;
	order: 1;
	/*border: 5px solid orange;*/
	height: 400px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;

}

#hunger, #sleepiness, #boredom {
	margin: 10px auto;
	/*flex: 1;*/
	/*border: 2px solid black;*/
	height: 50px;
	width: 150px;
	background: #B3A369;
	border-radius: 10px;
	font-weight: bold;
	color: #002755;
	text-align: center;
	vertical-align: middle;
	line-height: 50px; /* The same as your div height */
}


#age {
	margin: 10px auto;
	/*flex: 2;*/
	/*border: 2px solid black;*/
	height: 100px;
	width: 150px;
	background: #FFC72D;
	border-radius: 10px;
	font-weight: bold;
	color: #051D41;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px; /* The same as your div height */
}

.buttons {
	flex: 1;
	order: 3;
	/*border: 5px solid red;*/
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

#feedPet, #turnOff, #play {
	margin: 10px auto;
	flex-basis: 25%;
	box-sizing: border-box;
	/*border: 2px solid black;*/
	height: 50px;
	width: 200px;
	background: #FAB712;
	border-radius: 10px;
	font-weight: bold;
	color: #004D9F;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px; /* The same as your div height */
}



/*@media (min-width: 300px) {
	.column-layout {
	display: flex;
	flex-wrap: wrap;
	}
}*/









